<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container px-4 py-5" id="hanging-icons">
    <p class="lead">
        Здравствуйте! Мы рады приветствовать вас на оффициальном сайте Vabank!
        Здесь вы сможете ознакомиться со всеми кредитными предложениями. И более того! Оформить подходящий вам
        кредит!

    </p>
    <br>
    <p class="lead">
        Условия выплат следующие: Каждый месяц долг возрастает на оговоренное количество процентов по сравнению с
        предыдущим месяцем. В зависимости от выбранного сценария погашения кредита (см. 1.1 Основные понятия) к 15-му
        числа каждого месяца заёмщик обязуется внести оговоренную сумму на свой счёт. Списание средств происходит
        автоматически.
        После погашения тела кредита и процентов долг считается выплаченным, и все кредитные обязательства спадают.
    </p>
</div>
</body>
</html>