<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container px-4 py-5" id="hanging-icons">
    <p class="lead">
        Здравствуйте! Перейдите по ссылке, чтобы воспользоваться калькулятором:
        <a href="http://127.0.0.1:5000/">Калькулятор</a>
    </p>
</div>
</body>
</html>