<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h2>Заполните все поля</h2><br>
    <form th:action="@{/car-credit}" method="post">
        <div th:insert="blocks/name_and_age :: nameAndAge"></div>
        <input type="number" step="0.01" name="credit_size" min="2000000" max="8000000"
               placeholder="Укажите размер кредита в рублях (2000000 - 8000000 руб.)" class="form-control" required><br>
        <input type="number" name="credit_term" min="1" max="36"
               placeholder="Укажите срок кредитования в месяцах (не более 36)" class="form-control" required><br>
        <button type="submit" class="btn btn-success">Подтвердить</button>
    </form>
</div>
</body>
</html>