<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js">
</head>
<body>
<div class="container mt-5 mb-5">
    <h2>Вход в систему</h2><br>
    <form th:action="@{/login}" method="post">
        <input type="email" name="username" placeholder="Введите ваш email" class="form-control"><br>
        <input type="text" name="password" placeholder="Введите пароль" class="form-control"><br>
        <button type="submit" class="btn btn-success">Войти</button>
        <a href="/registration">Зарегестрироваться</a>
    </form>
</div>
</body>
</html>