<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<!--Счёт-->
<div class="container px-4 py-5" id="hanging-icons">
    <form th:action="@{/refill}" method="post">
        <h4>ПОПОЛНИТЬ СЧЁТ</h4>
        <br>
        <input type="number" step="0.01" min="0.01" max="500000" name="transfer_amount" placeholder="Сумма пополнения"
               class="form-control"><br>
        <button type="submit" class="btn btn-success">Пополнить</button>
    </form>
</div>

<div class="container px-4 py-5" id="hanging-icons">
    <form th:action="@{/withdraw}" method="post">
        <h4>СНЯТЬ СО СЧЁТА</h4>
        <br>
        <input type="number" step="0.01" min="0.01" max="500000" name="transfer_amount" placeholder="Сумма снятия"
               class="form-control"><br>
        <button type="submit" class="btn btn-success">Снять</button>
    </form>
</div>

<div class="container px-4 py-5" id="hanging-icons">
    <h4>СУММА НА СЧЁТЕ</h4>
    <br>
    <p th:utext="${borrower.getBankAccount()}"></p>
</div>

<!--График выплат-->
<div class="container px-4 py-5" id="hanging-icons" th:if="${borrower.creditSize}">
    <h4>ГРАФИК ВЫПЛАТ ПО КРЕДИТУ</h4>
    <br>
    <table class="table">
        <tr>
            <th>Дата</th>
            <th>Платёж</th>
            <th>Оплата процентов</th>
            <th>Основной долг</th>
            <th>Остаток</th>
        </tr>
        <tr th:each="pay : ${paytable}">
            <td th:utext="${pay.date}"></td>
            <td th:utext="${pay.pay}"></td>
            <td th:utext="${pay.repaymentPercent}"></td>
            <td th:utext="${pay.amortization}"></td>
            <td th:utext="${pay.loanBalance}"></td>
        </tr>
    </table>
    <p th:text="'Переплата: ' + ${overpayment}"></p>
</div>

<!--Выход из учётной записи-->
<div class="container px-4 py-5" id="hanging-icons">
    <a href="\logout">Выйти из учётной записи</a>
</div>
</body>
</html>