<div th:fragment="footer">
    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Как найти тот самый?</h2>

        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="bootstrap-icons.svg#toggles2"></use>
                    </svg>
                </div>
                <div>
                    <h3>ПОТРЕБИТЕЛЬСКИЙ 5,9%</h3>
                    <p>Потребительский кредит подходит для получения денег на приобретение большинства повседневных
                        товаров (смартфоны, бытовая техника, продукты питания...)</p>
                    <a href="/consumer-credit" class="btn btn-primary">
                        Оформить
                    </a>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#cpu-fill"></use>
                    </svg>
                </div>
                <div>
                    <h3>ИПОТЕКА 4,7%</h3>
                    <p>Ипотека подойдёт тем, кто хочет получить квартиру своей мечты прямо сейчас, а не копить
                        неизвестно сколько лет. Хватит копить! Наслаждайся жизнью сейчас!</p>
                    <a href="/mortgage-credit" class="btn btn-primary">
                        Оформить
                    </a>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#tools"></use>
                    </svg>
                </div>
                <div>
                    <h3>АВТОКРЕДИТ 3,2%</h3>
                    <p>Автокредит предназначен для людей, которые не желают часами стоять в пробке в душном общественном
                        транспорте. Или для тех, у кого в крови путешествия и желание преключений.</p>
                    <a href="/car-credit" class="btn btn-primary">
                        Оформить
                    </a>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#cpu-fill"></use>
                    </svg>
                </div>
                <div>
                    <h3>НА ОБУЧЕНИЕ 4,1%</h3>
                    <p>Знания - главная инвестиция нашего времени. Получи кредит на обучение в Va-банке и стань хозяином
                        своего будущего!</p>
                    <a href="/student-credit" class="btn btn-primary">
                        Оформить
                    </a>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#cpu-fill"></use>
                    </svg>
                </div>
                <div>
                    <h3>КОММЕРЧЕСКИЙ</h3>
                    <p>Ваш бизнес переживает не лудшие времена? Пережить их поможет комерческий кредит (ставку уточнять
                        в отделении банка)</p>
                    <a href="#" class="btn btn-primary">
                        Оформить
                    </a>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#cpu-fill"></use>
                    </svg>
                </div>
                <div>
                    <h3>ЛИЗИНГ</h3>
                    <p>Вам требуется что-то определённое? Получите то, что Вам нужно прямо сейчас с лизинговыми
                        предложениями Va-банка!</p>
                    <a href="#" class="btn btn-primary">
                        Оформить
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>